@import '../common'


.user
  width: 48px
  height: 48px
  border-radius: 50%
  object-fit: cover

.navbar
  height 6.5rem
  background-color $primaryColor
  padding 1rem
  .md-button.active
    color: red
  .nav-links
  .logo
    display inline-block
  .logo
    color $lightTextColor
    margin-right 50%
  .nav-links
    span
      color $lightTextColor
      font-size 1.6rem
