<md-dialog aria-label="Login form" data-ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Login form</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
        <md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <a class="md-button"
     data-ng-click="$ctrl.logIn('github')">
    Login Github
  </a>
  <a class="md-button"
     data-ng-click="$ctrl.logIn('facebook')">
    Facebook login
  </a>
</md-dialog>
